{% extends 'base.html' %}

{% block content %}
<div class="post">
  <h1 class="post-title">{{ article.title }}</h1>
  <span class="post-date">{{ article.locale_date }}</span>
  {{ article.content }}

  {% include 'disqus.html' %}
</div>

{% if article.related_posts %}
<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for article in article.related_posts %}
      <li>
        <h3>
          <a href="{{ article.url }}">
            {{ article.title }}
            <small>{{ article.locale_date }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}
