{% extends 'base.html' %}

{% block content %}
<div class="post">
  <h1 class="post-title">{{ article.title }}</h1>
  <span class="post-date">{{ article.date|strftime('%d %B %Y') }}</span>
  {% if TWITTER_USERNAME %}
    <!-- https://help.twitter.com/en/using-twitter/add-twitter-share-button -->
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="{{ article.title }}" data-via="{{ TWITTER_USERNAME }}" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  {% endif %}
  {{ article.content }}
</div>

{% if article.related_posts %}
<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for article in article.related_posts %}
      <li>
        <h3>
          <a href="{{ SITEURL }}/{{ article.url }}">
            {{ article.title }}
            <small>{{ article.date|strftime('%d %B %Y') }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
<div class="comments">
  <h2>Comments!</h2>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = '{{ DISQUS_SITENAME }}';
    var disqus_identifier = '{{ article.url }}';
    var disqus_url = '{{ SITEURL }}/{{ article.url }}';
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the comments.</noscript>
</div>
{% endif %}
{% endblock %}
