{% extends 'base.html' %}

{% block content %}
<div class="posts">
  {% for article in articles_page.object_list %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ article.url }}">
        {{ article.title }}
      </a>
    </h1>

    <span class="post-date">{{ article.locale_date }}</span>

    {{ article.summary }}
    <!-- TODO: Add continue reading -->
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if articles_previous_page %}
    {% if articles_page.number == 2 %}
      <a class="pagination-item newer" href="{{ BASEURL }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ BASEURL }}index{{ articles_previous_page.number }}.html">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
  {% if articles_next_page %}
    <a class="pagination-item older" href="{{ BASEURL }}index{{ articles_next_page.number }}.html">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
</div>
{% endblock %}
