<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ SITEURL }}">
          {{ TITLE }}
        </a>
      </h1>
      <p class="lead">{{ DESCRIPTION_SIDEBAR }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ SITEURL }}">Home</a>
      {% for title, link in MENUITEMS %}
        <a class="sidebar-nav-item" href="{{ link }}">{{ title }}</a>
      {% endfor %}
    </nav>

    <div class="sidebar-social">
      {% for brand, link in SOCIAL %}
        <a class="sidebar-social-item" href="{{ link }}" target="_blank">
          <i class="fab fa-lg fa-{{ brand }}"></i>
        </a>
      {% endfor %}
    </div>

    <div class="sidebar-newsletter">
      {% if TINYLETTER_USERNAME and TINYLETTER_NEWSLETTER %}
        <p>Subscribe to <a href="https://tinyletter.com/{{ TINYLETTER_USERNAME }}" target="_blank">{{ TINYLETTER_NEWSLETTER }}</a> for updates on upcoming projects and new blog posts.</p>
      {% endif %}
    </div>

    <div class="sidebar-copyright">
      <p>&copy; {{ YEAR }}. Powered by <a href="https://github.com/getpelican/pelican" target="_blank">Pelican</a> and <a href="https://github.com/vinayak-mehta/utterson" target="_blank">Utterson</a>.</p>
    </div>
  </div>
</div>
