<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ BASEURL }}">
          {{ TITLE }}
        </a>
      </h1>
      <p class="lead">{{ DESCRIPTION }}</p>
    </div>

    <!-- TODO: Add display image -->

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ BASEURL }}">Home</a>

      {% for title, link in MENUITEMS %}
        <a class="sidebar-nav-item" href="{{ link }}">{{ title }}</a>
      {% endfor %}

      <!-- TODO: Add social links -->
    </nav>

    <p>&copy; 2018. All rights reserved.</p>
    <!-- TODO: Add dynamic date -->
  </div>
</div>
